<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Apis" version="1.45.0" targetFramework="net472" />
  <package id="Google.Apis.Core" version="1.45.0" targetFramework="net472" />
  <package id="Google.Apis.Customsearch.v1" version="1.45.0.1924" targetFramework="net472" />
  <package id="Microsoft.Office.Interop.PowerPoint" version="15.0.4420.1017" targetFramework="net472" />
  <package id="MicrosoftOfficeCore" version="15.0.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net472" />
</packages>